body {
	background-color: black;
	color: white;
	font-size: 9px;
	font-family: courier;
	}

#horizon {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	overflow: visible;
	visibility: visible;
	display: block
}

#content {
	background-color: transparent;
	margin-left: -100px;
	position: absolute;
	top: -64.5px;
	left: 50%;
	width: 200px;
	height: 129px;
	visibility: visible
}

a:active {
	color: white;
	text-decoration: none;
	}

a:visited,a:link {
	color:00FF00;
	text-decoration: none;
	}

a:hover {
	color:666666;
	text-decoration: none;
	}

img {
	border: none;
	}
